/* Todos os elementos da página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Elementos com o ID "titulo" */
#titulo {
    font-family: sans-serif;
    color: #3C54A6;
}

/* Elementos com o ID "subtitulo" */
#subtitulo {
    font-family: sans-serif;
    color: #141414;
}

#check {
    display: block
}

/* Elementos de tag <forms>*/
.row-flex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 21px;
    width: 100%;
}

.inputs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 21px;
    width: 100%;
}


/* Elemento de tag <body> */
body {
    background-color: #ffffff;
    font-family: sans-serif;
    font-size: 1em;
    color: #141414;
    justify-content: center;
}

/* Elementos de tags <body>, <input>, <Select>, <textarea> e <button> */
input,
select,
textarea,
button {
    font-family: sans-serif;
    font-size: 1em;
    color: #141414;
    border-radius: 5px;
}

/* Elementos de classe "grupo" nos estados das pseudoclasses "before" e "after" */
.grupo:before,
.grupo:after {
    display: table;
}

/* Elementos de classe "grupo" no estado da pseudoclasse "after" */
.grupo:after {
    clear: both;
}

/* Elementos de classe "campo" */
.campo {
    margin-bottom: 1em;
    width: 100%;

}

/* Elementos de classe "campo" de tag <label> */
.campo label {
    margin-bottom: 0.2em;
    color: #141414;
    display: flex;
}

/* Elementos de classe "campo" ou "grupo" de tag <fieldset> */
fieldset.grupo .campo {
    float: left;
    margin-right: 1em;
}


/* Elementos de classe "campo" de tag <select> e <option>*/
.campo select option {
    padding-right: 1em;
}

/* Elemento de classe "campo" com tag <input>, <select> e <textarea> tocas com estado da pseudoclasse "focus"*/
.campo input:focus,
.campo select:focus,
.campo textarea:focus {
    background: #E0E0F8;
}

/* Elemento de classe "botao" */
.botao {
    font-size: 1.2em;
    background: #3C56A6;
    border: 0;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    /* Adicionado para centralizar o texto horizontalmente */
    align-items: center;
    /* Adicionado para centralizar o texto verticalmente */
    height: 51px;
    max-width: max-content;
    margin-left: auto;
}

/* Elementos de classe botão e de tag <select> */
.botao,
select {
    cursor: pointer;
}

.campo input {
    padding: 12px !important;
    border: 1px solid #C2C2C2;
    border-radius: 8px;
    width: 100%;
}

.solicitar-orcamento {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px 90px;
    gap: 24px;
}

.cabecario {
    width: 100%;
    text-align: center;
}

form {
    width: 100%;
}

textarea {
    padding: 12px;
}

@media screen and (max-width: 992px) {
    .inputs {
        flex-direction: column;
    }
}

/* Contato/Rodape */

/* Define um layout flexível para o conteúdo do rodapé */
.footer .endereco {
    display: flex;
    justify-content: space-evenly;
    margin: 1.5rem;
}

/* Define margem inferior para os parágrafos dentro do conteúdo do rodapé */
.footer .contato {
    margin-bottom: 1em;
}

/* Estilos para o elemento <footer> em geral */
footer {
    text-align: center;
    margin-bottom: 1em;
}

/* Ajusta os estilos dependendo do tamanho da tela e orientação do dispositivo */
@media (max-width: 767px) {
    .footer .endereco {
        display: flex;
        flex-direction: column;
        font-size: 14px;
    }

    .footer {
        position: unset;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .footer .endereco,
    .footer {
        font-size: 14px;
    }
}

@media (orientation: landscape) and (max-height: 500px) {
    .footer {
        position: unset;
    }
}

/* Estilos para a linha horizontal dentro do rodapé */
footer hr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 90px;
    gap: 32px;
    position: relative;
    width: 100%;
    height: 40px;
    background: #3C56A6;
    border: none;
}

.grupo-contato {
    gap: 24px;
    width: 100%;
    padding: 48px 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f2f2f2;
    color: #141414;
}

/* Estilos para o conteúdo do rodapé */
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fefefe;
    background-color: #3C56A6;
    padding: 8px 90px;
}

.footer-bottom .developed-by {
    text-align: right;
}

.txt-a-l {
    text-align: left;
}

.m-b-16 {
    margin-bottom: 16px;
}

.grupo-contato p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.grupo-contato h4 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
}