/*Formatação Alinhamento e Fonte */
/* Todos os elementos da página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

/*Cabeçalho Cor e Largura*/
header{
    background-color: rgb(255, 255, 255);
    width: 100%;
}
/*Menu Alinhamento lateal*/
#menu-h ul {
    display: inline-flex;
}

#menu-h ul li{
    display: inline;
}
/*Menu Cor Posicionamento Transição */
#menu-h ul li a{
    color:#3C56A6;
    padding: 15px;
    text-decoration: none;
    display: inline-block;
    transition: background .4s;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
/*Menu C Mouse Cor Fundo e Letra*/
#menu-h ul li a:hover{
    background-color: #3C56A6;
    color:#ffffff;
   
    
}
/*Barra Menu Cor Fundo Fonte Alinhamento*/
.barramenu{
    position: fixed;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 10px 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}
/*Logo Ajuste Altura Largura*/
.logo {
    margin-right: 48px;
}

.logo img{
    width: 100%;
    height: 100%;
    max-width: 161px;
    max-height: 58px;
}


/*Logo Whatsapp Largura & Clic area*/
.logo,.whats{
    cursor: pointer;
}
/*Menu Largura*/
/*Button Whatsapp Cor Fonte Estilo Transição Clic area*/
.whats button{
    padding: 16px;
    border: 1px solid #25D366;
    color:#075E54;
    border-radius: 8px;
    cursor: pointer;
    display: inline-flex;
    align-items: flex-end;
    background-color: #FFFFFF;
    white-space: nowrap;
}
/*Button Whatsapp Escrita Cor Font Decoration*/
.whats button a{
    margin: 5px;
    color:#075E54;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Lato', sans-serif;
}
/*Button Whatsapp C Mouse Cor Borda Ecrita Fundo*/
.whats button:hover, .whats button:hover > a{
    border-color:#ffffff;
    background-color:#075E54;
    color:#ffffff;
}
/*Banner Orçamento Tamanho Posição*/
.frstimg {    
    background: url("./img/banner-orcamento.webp");
    height: 520px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
} 
/*Button Whatsapp Alinhamento de Texto*/
.whats {
    text-align: right;
}
/*Button Whatsapp Distancia da Margem Alinhamento*/
.whats button i{
    line-height: initial;
    vertical-align: initial;
    margin-left: 8px;
}
/*Frase Do Banner Formatação Posicionamento*/
.frasetopo {
    position: relative;
    width: 639px;
    height: 202px;
    left: 90px;
    top: 190px;
}
.frasetopo p{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
}
/*Button Orçamento Cor Alinhamento */
.solcitorcament button{
    background: #3C56A6;
    border-radius: 8px;
    padding: 16px;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    line-height: 19px;
    border: 1px solid #3C56A6;
    cursor: pointer;
    margin-top: 32px;
}

/*Button Orçamento C Mouse Cor Transparencia */
.solcitorcament button:hover{
    background-color: transparent;
    border: 1px solid #fff;

}

#quem-somos{
    padding: 48px 90px;
}

/*Titulo Quem Somos Fonte Cor Alinhamento*/
.titulo{
    color:#3c54a6;
    text-align: center; 
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}
/*Texto Quem Somos Fonte Cor Alinhamento*/
.texto{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight:400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #141414;
    margin-top: 24px;
}

/*teste para juntar os codigos*/
/*Serviços*/
#servicos {
    padding: 48px 90px;
    background: #F2F2F2;
}

.carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 32px;
    gap: 48px;
}
/*Imagens dos Serviços*/
.img-servicos-1 {
    width: 512px;
    height: 350px;
}

.img-servicos-2 {
    width: 512px;
    height: 350px;
}

.img-servicos-3 {
    width: 512px;
    height: 350px;
}

.img-servicos-4 {
    width: 512px;
    height: 350px;
}

.img-servicos-5 {
    width: 512px;
    height: 350px;
}

.img-servicos-6 {
    width: 512px;
    height: 350px;
}

/*Texto dos Serviços*/
.txt-servicos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 512px;
}

.txt-servicos h4 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 24px;
    color: #141414;
}

.txt-servicos li {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #141414;
}


/*Carousel*/
.carousel.gallery-wrapper {
    width: 100%;
    overflow: hidden;
}

.gallery {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.5s ease;
}

.body-carousel {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 24px;
}

.item {
    flex: 0 0 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 32px;
    gap: 48px;
}

.carousel-indicators {
    text-align: center;
    margin-top: 16px;
}

.carousel-indicators .indicator {
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin-right: 8px;
    border: none;
    padding: 0;
    cursor: pointer;
}

.carousel-indicators .indicator.active {
    background-color: #333;
}

.arrow-left {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #333;
    cursor: pointer;
    z-index: 1;
}

.arrow-right {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #333;
    cursor: pointer;
    z-index: 1;
}


/* Dagna */


/* Elementos com o ID "subtitulo" */
#subtitulo {
    /* Estilos de cor e fonte */
    color: #141414;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

/* Elementos de tag <forms> */
.inputs {
    /* Estilos de layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 21px;
    width: 100%;
}

/* Elementos de tags <body>, <input>, <Select>, <textarea> e <button> */
input,
select,
textarea,
button {
    /* Estilos de fonte e cor */
    font-family: sans-serif;
    font-size: 16px;
    color: #141414;
    border-radius: 5px;
}

/* Elementos de classe "campo" */
.campo {
    /* Estilos de margem e largura */
    margin-bottom: 24px;
    width: 100%;
}

/* Elementos de classe "campo" de tag <label> */
.campo label {
    /* Estilos de fonte e cor */
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #141414;
}

/* Elemento de classe "campo" com tag <input>, <select> e <textarea> tocas com estado da pseudoclasse "focus" */
.campo input:focus,
.campo select:focus,
.campo textarea:focus {
    /* Estilos de fundo */
    background: #E0E0F8;
}

/* Elemento de classe "botao" */
.botao {
    /* Estilos de fonte, cor e layout */
    font-size: 16px;
    background: #3C56A6;
    color: #ffffff;
    padding: 16px;
    display: flex;
    margin-left: auto;
    border-radius: 8px;
    border: 1px solid #3C56A6;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
}

.botao:hover {
    /* Estilos de hover */
    background: transparent;
    color: #3C56A6;
    border: 1px solid #3C56A6;
}

.campo input {
    /* Estilos de input */
    padding: 12px !important;
    border: 1px solid #C2C2C2;
    border-radius: 8px;
    width: 100%;
}

.solicitar-orcamento {
    /* Estilos de layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px 90px;
    gap: 24px;
}

.cabecario {
    /* Estilos de largura e alinhamento */
    width: 100%;
    text-align: center;
}

form {
    /* Estilos de largura */
    width: 100%;
}

textarea {
    /* Estilos de textarea */
    padding: 12px;
    border: 1px solid #C2C2C2;
    border-radius: 8px;
    width: 100%;
}

@media screen and (max-width: 992px) {
    .inputs {
        /* Estilos de layout para telas menores */
        flex-direction: column;
    }
}

/* Contato/Rodape */

/* Define um layout flexível para o conteúdo do rodapé */
.footer .endereco {
    /* Estilos de layout */
    display: flex;
    justify-content: space-evenly;
    margin: 1.5rem;
}

/* Define margem inferior para os parágrafos dentro do conteúdo do rodapé */
.footer .contato {
    /* Estilos de margem */
    margin-bottom: 1em;
}

/* Estilos para o elemento <footer> em geral */
footer {
    /* Estilos de alinhamento e margem */
    text-align: center;
    margin-bottom: 1em;
}

/* Ajusta os estilos dependendo do tamanho da tela e orientação do dispositivo */
@media (max-width: 767px) {
    .footer .endereco {
        /* Estilos de layout para telas menores */
        display: flex;
        flex-direction: column;
        font-size: 14px;
    }

    .footer {
        /* Estilos de posicionamento */
        position: unset;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .footer .endereco,
    .footer {
        /* Estilos de fonte para telas médias */
        font-size: 14px;
    }
}

@media (orientation: landscape) and (max-height: 500px) {
    .footer {
        /* Estilos de posicionamento para orientação landscape */
        position: unset;
    }
}

/* Estilos para a linha horizontal dentro do rodapé */
footer hr {
    /* Estilos de layout e posicionamento */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 90px;
    gap: 32px;
    position: relative;
    width: 100%;
    height: 40px;
    background: #3C56A6;
    border: none;
}

.grupo-contato {
    /* Estilos de layout */
    gap: 24px;
    width: 100%;
    padding: 48px 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f2f2f2;
    color: #141414;
}

/* Estilos para o conteúdo do rodapé */
.footer-bottom {
    /* Estilos de layout e cor */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fefefe;
    background-color: #3C56A6;
    padding: 8px 90px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.footer-bottom .developed-by {
    /* Estilos de alinhamento de texto */
    text-align: right;
}

.txt-a-l {
    /* Estilos de alinhamento de texto */
    text-align: left;
}

.m-b-16 {
    /* Estilos de margem */
    margin-bottom: 16px;
}

.grupo-contato p {
    /* Estilos de fonte */
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.grupo-contato h4 {
    /* Estilos de fonte */
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
}